<div class="page-header four">
    <div class="container">
        <div class="col-md-6 pull-left">
            <h3>About Us</h3>
            <h4>A brief history about our company</h4>
        </div>
        <div class="col-md-6 pull-right">
            <div class="breadcrumbs"><a href="/">Home</a> <i>/</i> About Us</div>
        </div>
    </div>
</div>
<div class="section-lg counters">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-1.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Photoshop - Web Deisgn</a></h4>
              <span class="posted-on">Jan. 26th, 2017</span> <span class="comment"><a href="">53 <i class="icon-heart"></i></a></span>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-orange">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-2.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Photoshop - Web Deisgn</a></h4>
              <span class="posted-on">Jan. 26th, 2017</span> <span class="comment"><a href="">53 <i class="icon-heart"></i></a></span>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-orange">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-3.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Photoshop - Web Deisgn</a></h4>
              <span class="posted-on">Jan. 26th, 2017</span> <span class="comment"><a href="">53 <i class="icon-heart"></i></a></span>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-orange">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-4.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Photoshop - Web Deisgn</a></h4>
              <span class="posted-on">Jan. 26th, 2017</span> <span class="comment"><a href="">53 <i class="icon-heart"></i></a></span>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-orange">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-5.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Photoshop - Web Deisgn</a></h4>
              <span class="posted-on">Jan. 26th, 2017</span> <span class="comment"><a href="">53 <i class="icon-heart"></i></a></span>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-orange">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-6.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Photoshop - Web Deisgn</a></h4>
              <span class="posted-on">Jan. 26th, 2017</span> <span class="comment"><a href="">53 <i class="icon-heart"></i></a></span>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-orange">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-1.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Photoshop - Web Deisgn</a></h4>
              <span class="posted-on">Jan. 26th, 2017</span> <span class="comment"><a href="">53 <i class="icon-heart"></i></a></span>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-orange">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-2.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Photoshop - Web Deisgn</a></h4>
              <span class="posted-on">Jan. 26th, 2017</span> <span class="comment"><a href="">53 <i class="icon-heart"></i></a></span>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-orange">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-3.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Photoshop - Web Deisgn</a></h4>
              <span class="posted-on">Jan. 26th, 2017</span> <span class="comment"><a href="">53 <i class="icon-heart"></i></a></span>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-orange">Read More</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-lg">
    <div class="container">
      <div class="row"> <img class="img-responsive m-auto" src="/images/studet-group.jpg" alt=""> </div>
    </div>
  </div>