<div class="page-header four">
    <div class="container">
        <div class="col-md-6 pull-left">
            <h3>Our Team</h3>
            <h4>Meet Our Professional Team</h4>
        </div>
        <div class="col-md-6 pull-right">
            <div class="breadcrumbs"><a href="/">Home</a> <i>/</i> Our Team</div>
        </div>
    </div>
</div>
<div class="section-lg counters">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 sec-heading text-center">
          <p class="message-info">Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin sem iaculis. Mi iaculis ac eleifend id venenatis non erossed venenatis non eros sed rhoncus gravida. 
        </p></div>
      </div>
    </div>
  </div>
  <div class="section-lg m-bottom10">
    <div class="container">
      <div class="row animate-box" style="border-bottom:0;">
        <div class="col-md-3 col-sm-3 text-center">
          <div class="staff"> <img src="images/trainer-1.jpg" alt="trainer" class="img-responsive">
            <h3>Jean Smith</h3>
            <strong class="role">Marketing Instructor</strong> </div>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <div class="staff"> <img src="images/trainer-2.jpg" alt="trainer" class="img-responsive">
            <h3>Jeremy Lawson</h3>
            <strong class="role">PHP Instructor</strong> </div>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <div class="staff"> <img src="images/trainer-3.jpg" alt="trainer" class="img-responsive">
            <h3>Jean Smith</h3>
            <strong class="role">Marketing Instructor</strong> </div>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <div class="staff"> <img src="images/trainer-4.jpg" alt="trainer" class="img-responsive">
            <h3>Jean Andrews</h3>
            <strong class="role">Instructor</strong> </div>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <div class="staff"> <img src="images/trainer-4.jpg" alt="trainer" class="img-responsive">
            <h3>Jean Smith</h3>
            <strong class="role">Marketing Instructor</strong> </div>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <div class="staff"> <img src="images/trainer-3.jpg" alt="trainer" class="img-responsive">
            <h3>Jeremy Lawson</h3>
            <strong class="role">PHP Instructor</strong> </div>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <div class="staff"> <img src="images/trainer-1.jpg" alt="trainer" class="img-responsive">
            <h3>Jean Smith</h3>
            <strong class="role">Marketing Instructor</strong> </div>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <div class="staff"> <img src="images/trainer-2.jpg" alt="trainer" class="img-responsive">
            <h3>Jean Andrews</h3>
            <strong class="role">Instructor</strong> </div>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <div class="staff"> <img src="images/trainer-1.jpg" alt="trainer" class="img-responsive">
            <h3>Jean Smith</h3>
            <strong class="role">Marketing Instructor</strong> </div>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <div class="staff"> <img src="images/trainer-2.jpg" alt="trainer" class="img-responsive">
            <h3>Jeremy Lawson</h3>
            <strong class="role">PHP Instructor</strong> </div>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <div class="staff"> <img src="images/trainer-3.jpg" alt="trainer" class="img-responsive">
            <h3>Jean Smith</h3>
            <strong class="role">Marketing Instructor</strong> </div>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <div class="staff"> <img src="images/trainer-4.jpg" alt="trainer" class="img-responsive">
            <h3>Jean Andrews</h3>
            <strong class="role">Instructor</strong> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-lg">
    <div class="container">
      <div class="row"> <img class="img-responsive m-auto" src="images/studet-group.jpg" alt=""> </div>
    </div>
  </div>