<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{{title}}</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" type="text/css">

  <!-- Template Styles -->
  <link rel="stylesheet" href="/stylesheets/css/style.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/css/mycss.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/css/font-awesome/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="/stylesheets/css/Simple-Line-Icons-Webfont/simple-line-icons.css" />
  <link rel="stylesheet" href="/stylesheets/css/et-line-font/et-line-font.css">

  <!-- Magnific Popup -->
  <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">

  <!-- Responsive Devices Styles -->
  <link rel="stylesheet" media="screen" href="/stylesheets/css/responsive-leyouts.css" type="text/css" />

  <!-- Mega Menu -->
  <link rel="stylesheet" href="/javascripts/js/megamenu/stylesheets/screen.css">

  <!-- Animations -->
  <link href="/ " rel="stylesheet" type="text/css" media="all" />

  <!-- forms -->
  <link rel="stylesheet" href="/javascripts/js/form/css/sky-forms.css" type="text/css" media="all">
</head>

<body>
  {{> header}}
  <div style="padding:15rem 0;">
    {{{body}}}
  </div>

  {{> footer}}
</body>

</html>