.register-success {
  padding: 5rem 0;
  margin: 10rem auto 8rem auto;
}
.icon svg {
  height: 50px;
  color: #49b5b9;
}
.congratulation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.congratulation h1 {
  color: #49b5b9;
  font-size: 4rem;
  padding: 0 1rem;
}
.congratulation i {
  color: gold;
  font-size: 2rem;
}
.notify p {
  margin: 0 auto;
  width: 70%;
}
.next {
  margin-top: 5rem;
}
.next button {
  border: 1px solid #49b5b9;
  background-color: #49b5b9;
  color: #fff;
  padding: 0.8rem 5rem;
  font-size: 25px;
  outline: none;
}
.next button:hover {
  background-color: #58e1e6;
  color: #fff;
}

/* Course */
.courses {
  margin: 22rem 0 5rem 0;
  position: relative;
}
.courses-custom {
  box-shadow: none !important;
}
.course-text-custom {
}
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.5s;
  padding: 15px 20px;
  width: 150px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  border-radius: 0 5px 5px 0;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#mySidenav a:hover {
  left: 0;
  opacity: 1;
}

#course {
  top: 20px;
  background-color: #4caf50;
}

#trainer {
  top: 80px;
  background-color: #2196f3;
}

#projects {
  top: 140px;
  background-color: #f44336;
}

#post {
  top: 200px;
  background-color: #555;
}

.btn-add {
  position: absolute;
  bottom: -5%;
  right: 5%;
  z-index: 1000;
}

.btn-add a {
  border: none;
  color: #2196f3;
  padding: 1rem;
  border-radius: 50%;
}
.btn-add a:hover {
  color: #49b5b9;
}
.redirect-back {
  padding: 2rem 0;
  width: fit-content;
  font-size: 20px;
}
.redirect-back .re-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-box-custom .course-handle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.course-handle a {
  padding: 1rem;
  border-radius: 15%;
}
.course-handle a:hover {
  background-color: #2196f3;

  color: white;
}

.cource-box img {
  height: 250px;
  width: 600px;
}

/* Trainer */
.trainer {
  margin-top: 5rem;
  position: relative;
}
.content {
  margin-left: 80px;
}

.content {
  position: relative;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 10vh;
  padding-bottom: 3rem;
}
.button-handle {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5rem;
  border: 5.5px solid transparent;
}
.content-item {
  box-shadow: 0 14px 20px -12px rgba(0, 0, 0, 0.5);
  margin-top: 5rem;
  border-radius: 1rem;
  padding: 1rem;
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
}
.content-item:hover .button-handle {
  border-top: 5.5px solid #49b5b9;
  border-radius: 100%;
  transition: 0.25s;
}

/* Post */
.post-item {
  width: 48%;
  margin-right: 5px;
  margin-top: 2rem;
}
