<div class="page-header four">
    <div class="container">
        <div class="col-md-6 pull-left">
            <h3>About Us</h3>
            <h4>A brief history about our company</h4>
        </div>
        <div class="col-md-6 pull-right">
            <div class="breadcrumbs"><a href="/">Home</a> <i>/</i> About Us</div>
        </div>
    </div>
</div>
<!-- end page header -->

<div class="section-lg counters m-bottom4">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 sec-heading text-center">
                <p class="message-info">Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus
                    gravida eli eu sollicitudin sem iaculis. Mi iaculis ac eleifend id venenatis non erossed venenatis
                    non eros sed rhoncus gravida.
                </p>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="cource-box"><a href="#"><img class="img-responsive" src="images/project-3.jpg" alt=""></a>
                    <div class="cource-text">
                        <h4>Who We Are</h4>
                        <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu
                            sollicitud.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="cource-box"><a href="#"><img class="img-responsive" src="images/project-4.jpg" alt=""></a>
                    <div class="cource-text">
                        <h4>Our Mission</h4>
                        <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu
                            sollicitud.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="cource-box"><a href="#"><img class="img-responsive" src="images/project-1.jpg" alt=""></a>
                    <div class="cource-text">
                        <h4>Our Vission</h4>
                        <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu
                            sollicitud.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-lg m-bottom10">
    <div class="container">
        <div class="col-md-8 col-md-pull-1" data-anim-type="fade-in-up" data-anim-delay="100"><img
                class="img-responsive" src="images/course-4.jpg" alt="course"></div>
        <div class="col-md-4" data-anim-type="fade-in-up" data-anim-delay="200">
            <div class="m-top5">
                <div class="fea-info">
                    <h4><i class="icon-lightbulb"></i> Learn Anything Online</h4>
                    <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli.</p>
                </div>
                <div class="fea-info">
                    <h4><i class="icon-trophy"></i> Communicate People</h4>
                    <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu
                        sollicitudin sem iaculis.</p>
                </div>
                <div class="fea-info">
                    <h4><i class="icon-puzzle"></i> Share Your Knowledge</h4>
                    <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-lg">
    <div class="container">
        <div class="row"> <img class="img-responsive m-auto" src="images/studet-group.jpg" alt=""> </div>
    </div>
</div>