<div class="course-add container">
    <div class="redirect-back">
        <a href="/Admin/posts" class="re-link">
            <i class="fas fa-angle-double-left"></i>
            <span>&nbsp;Trở lại</span>
        </a>
    </div>
    <h1 style="text-align: center;">Thêm bài viết mới</h1>
    <form method="POST" action="/Admin/posts/add">
        <div class="form-group">
            <label for="postName">Name</label>
            <input type="text" class="form-control" id="postName" name="postName" placeholder="Post Name"
                required="required">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <div class="form-group">
                <textarea class="form-control" name="description" id="description" rows="3"
                    required="required"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="image">URL Image</label>
            <input type="text" class="form-control" id="image" name="image" placeholder="Post IMG" required="required">
        </div>
        <div class="form-group">
            <label for="heart">Heart</label>
            <input type="number" class="form-control" id="heart" name="heart" placeholder="Post Heart"
                required="required">
        </div>
        <button type="submit" class="btn btn-success">Thêm</button>
    </form>
</div>