<div class="page-header four">
    <div class="container">
        <div class="col-md-6 pull-left">
            <h3>Courses Grid View</h3>
            <h4>Our Awesome Courses List</h4>
        </div>
        <div class="col-md-6 pull-right">
            <div class="breadcrumbs"><a href="/">Home</a> <i>/</i>  Courses Grid View</div>
        </div>
    </div>
</div>
<div class="section-lg counters">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6 m-bottom3">
          <div class="text-center" data-anim-type="fade-in-down" data-anim-delay="100"> <i class="count-icon icon-profile-male"></i> <span class="count-nos" id="target">25890</span>
            <p class="count-lable">Students</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 m-bottom3">
          <div class="text-center" data-anim-type="fade-in-down" data-anim-delay="200"> <i class="count-icon icon-strategy"></i> <span class="count-nos" id="target2">1560</span>
            <p class="count-lable">Instructor</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 m-bottom3">
          <div class="text-center" data-anim-type="fade-in-down" data-anim-delay="300"> <i class="count-icon icon-puzzle"></i> <span class="count-nos" id="target3">21350</span>
            <p class="count-lable">Courses</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 m-bottom3">
          <div class="text-center" data-anim-type="fade-in-down" data-anim-delay="400"> <i class="count-icon icon-trophy"></i> <span class="count-nos" id="target4">128560</span>
            <p class="count-lable">Earnings</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-lg m-bottom10">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-1.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Photoshop - Web Deisgn</a> <span>$195</span></h4>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-small">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-2.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Sketch - Mobile App</a> <span>$195</span></h4>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-small">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-3.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">CSE Engineering</a> <span>$195</span></h4>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-small">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-4.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Photoshop - Web Deisgn</a> <span>$195</span></h4>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-small">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-5.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Sketch - Mobile App</a> <span>$195</span></h4>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-small">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-6.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">CSE Engineering</a> <span>$195</span></h4>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-small">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-1.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Photoshop - Web Deisgn</a> <span>$195</span></h4>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-small">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-2.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">Sketch - Mobile App</a> <span>$195</span></h4>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-small">Read More</a> </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="cource-box"><a href="#"><img class="img-responsive" src="/images/course-3.jpg" alt=""></a>
            <div class="cource-text">
              <h4><a href="#">CSE Engineering</a> <span>$195</span></h4>
              <p>Suspendisse ante mi iaculis ac eleifend id venenatis non eros. Sed rhoncus gravida eli eu sollicitudin.</p>
              <a href="#" class="btn btn-small">Read More</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-lg">
    <div class="container">
      <div class="row"> <img class="img-responsive m-auto" src="/images/studet-group.jpg" alt=""> </div>
    </div>
  </div>